header {
  position: absolute;
  z-index: 100;
  width: 100%;

  .header__nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 3vh;

    .header__nav-left,
    .header__nav-right,
    .navbar__menu {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .header__nav-left {
      width: 60%;
      justify-content: flex-end;
      gap: max(10px, 3vw);

      @media (max-width: 1000px) {
        & {
          justify-content: flex-start;
          padding-left: max(10px, 3vw);
        }
      }

      a img {
        height: 100%;
        width: auto;
      }

      @media (min-width: 1000px) and (max-width: 1100px) {
        width: 70%;
      }
    }

    .header__nav-right {
      height: 100%;
      width: 40%;
      justify-content: center;
      gap: max(10px, 1.8vw);

      @media (max-width: 1000px) {
        width: 20%;
        justify-content: flex-end;
        padding-right: max(20px, 3vw);
      }

      a img {
        height: 100%;
        width: auto;

        @media (min-width: 1000px) {
          &:hover {
            filter: drop-shadow(0 0 5px #2091f9) drop-shadow(0 0 10px #2091f9)
              drop-shadow(0 0 20px #2091f9);
          }
        }

        @media (max-width: 1000px) {
          display: none;
        }
      }

      @media (min-width: 1000px) and (max-width: 1100px) {
        width: 20%;
      }

      .nav__hamburger-menu {
        display: none;
        cursor: pointer;

        @media (max-width: 1000px) {
          position: fixed;
          top: 0;
          right: 0;
          height: 100vh;
          width: 70vw;
          background-color: #252b42;
          border-left: 2px solid #2091f9;
          transform: translateX(100%);
          transition: transform 0.4s ease-in-out;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          & .burger__menu {
            width: 100%;
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;

            & li {
              border-top: 1px dashed #2091f9;
            }

            & li:last-child {
              border-bottom: 1px dashed #2091f9;
            }
          }
        }

        & li a {
          font-family: "Quicksand", sans-serif;
          font-size: 1.8rem;
          color: #fff;
          text-decoration: none;
          display: block;
          width: 100%;
          padding: max(5px, 3vh) 0;
        }

        &.active {
          transform: translateX(0);
        }
      }

      .nav__hamburger {
        border-radius: 8px;
        padding: 6px;
        background-color: #252b42;
        display: none;
        cursor: pointer;

        @media (max-width: 1000px) {
          display: block;
          position: fixed;

          &.active .bar:nth-child(2) {
            opacity: 0;
          }
          &.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
          }
          &.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
          }
        }

        .bar {
          display: block;
          width: 25px;
          height: 3px;
          margin: 5px auto;
          background-color: white;
        }
      }
    }

    .navbar__menu {
      font-size: 1.1rem;
      gap: max(5px, 2.6dvw);
      list-style: none;

      @media (max-width: 1000px) {
        display: none;
      }

      li a {
        font-family: "Quicksand", sans-serif;
        color: white;
        text-decoration: none;
        transition: text-shadow 0.3s ease;

        @media (min-width: 1000px) {
          &:hover {
            text-shadow: 0 0 7px #2091f9, 0 0 12px #2091f9, 0 0 22px #2091f9;
          }
        }
      }
    }
  }
}
