.pricing {
  background-color: #252b42;
  width: 100%;

  & p,
  & h2 {
    color: #ffffff;
  }
}

.pricing__container {
  margin: auto;
  background-color: #252b42;
  width: 70%;
  padding-top: max(100px, 12vh);

  .pricing__text {
    text-align: center;
    padding-bottom: 4.3rem;
  }
}
/*  */
.pricing__items-container {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .pricing__item1,
  .pricing__item2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }

  .pricing__item1 {
    background-color: #ffffff;
    height: 80%;
    & p {
      color: #252b42;
      font-size: 1rem;
    }

    & h3 {
        color: #252b42;
    }
  }

  .pricing__item2 {
    height: 100%;
    background-color: #2091f9;

    & p {
      color: #ffffff;
    }

    & h3 {
        color: #ffffff;
    }
  }
}
