.features__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 70%;
  gap: max(30px, 7vh);

  @media (max-width: 1000px) {
    width: 90%;

    .features__items-container {
      order: 2;
    }
  }
}

.features__video-container--mobile {
  @media (min-width: 1000px) {
    padding: 3% 5%;
  }

  @media (max-width: 1000px) {
    padding-top: max(20px, 1vh);
    order: 1;
  }

  & iframe {
    aspect-ratio: 16 / 9;
    height: auto;
    border-radius: 30px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
}

.features__text-container {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: max(100px, 22vh);
  padding-bottom: 50px;

  & p {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
    color: #535252;
  }

  @media (max-width: 1000px) {
    & .features__p--hide {
      display: none;
    }
  }

  & h2 {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
    color: #424040;
    padding-bottom: 25px;
  }
}

.features__items-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 80px;

  @media (max-width: 1000px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 220px;
  gap: 20px;



  & img {
    width: 50px;
  }

  & h3 {
    font-size: 1.2rem;
    line-height: 1.1;
    font-family: "Rubik", sans-serif;
    color: #3c3b3b;
  }

  & p {
    font-size: 1rem;
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
    color: #535252;
  }
}
