.fastest-way {
  margin: auto;
  padding-top: max(120px, 20vh);
  width: 65%;

  @media (max-width: 1000px) {
    width: 90%;
  }
}

.fastest-way__container {
  display: flex;
  flex-direction: row;

  @media (max-width: 1000px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 96%;
    margin: 0 auto;
  }

  .fastest-way__text {
    width: 50%;
    padding: 1.5%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1000px) {
      width: 100%;
      align-items: center;
    }

    & h2 {
      width: 70%;
      font-size: 2.5rem;
      font-weight: 600;
      font-family: "Quicksand", sans-serif;
      color: #424040;
      padding-bottom: 1.5rem;

      @media (max-width: 1000px) {
        width: 90%;
      }
    }

    & p {
      font-size: 1.5rem;
      font-weight: 500;
      font-family: "Quicksand", sans-serif;
      color: #535252;
      padding-bottom: 3.5rem;

      @media (max-width: 1000px) {
        width: 90%;

        & span {
          display: none;
        }
      }
    }
  }

  .fastest-way__btn {
    width: max(200px, 10vw);

    & button {
      width: 100%;
      padding: max(15px, 1.5vh);
      font-size: 1rem;
      font-weight: 600;
      background-color: #2091f9;
      color: #fff;
      border: none;
      border-radius: 28px;
      cursor: pointer;

      @media (max-width: 1000px) {
        margin-bottom: 3rem;
      }
    }
  }

  .fastest-way__img {
    width: 50%;
    display: flex;
    padding-bottom: 1%;

    @media (max-width: 1000px) {
      width: 96%;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin: 0;
    }
  }
}
