.hero__container {
  position: relative;
  width: 100%;
  height: auto;
}

.hero__container img {
  width: 100%;
  filter: contrast(120%) brightness(50%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
  transform: translateY(-25%);
  border: 1px solid #222222;
}

#hero__btn {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  background-color: #2091f9;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#hero__btn:hover {
  box-shadow: 0 0 10px #2091f9, 0 0 20px #2091f9;
  transform: translateY(-1px);
}
